---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";

---

<Layout tittle="Cristian">
	<main>
		<h1>hey, soy Cristian<Badge>Disponible</Badge></h1>
		<h2>soy un junior con aires de senior, contratame hijo de tu putisima madre</h2>
	</main>
</Layout>
